h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    width: 100%;
    display: inline-block;
    /* padding-left:; */
    border-bottom: solid black;
}

#name {
    display: block;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: darkred;
    padding: 20px;
    color: white;
}

ul {
    list-style-type: none;
    margin-right: 10%;
    padding: 0px;
    width: 200px;
    text-align: center;
}

li {
    display: inline;
    text-align: center;
}

li a {
    display: inline;
    color: #000;
    text-decoration: none;
    padding: 4px;
    margin: 1px;
}

li a:hover {
    background-color: #555;
    color: white;
}

.main-nav {
    float: right;
    display: inline-block;
    list-style-type: none;
    margin-top: 35px;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

.main-body {
    width: 960px;
    background-color: lightgrey;
    padding: 10px;
    box-shadow: 10px 10px 25px grey;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-me {
    padding: 20px;
    border-bottom: solid .5px grey;
    margin-bottom: 40px;
    margin-left: 10px;
    color: darkred;
}

footer {
    width: 100%;
    border-top: solid black;
}

.social {
    /* margin-left: %;
    margin-right: 50%; */
    display: inline;
    width: 100%;
}