h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}


/* top nav */

.heading {
    width: 100%;
    display: inline-block;
    border-bottom: solid darkred;
    margin-bottom: 20px;
}


/* link text decloration none */

a {
    text-decoration: none;
    color: white;
}

#name {
    display: block;
    float: left;
    margin-left: 20.5%;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: darkred;
    padding: 20px;
    color: white;
}

#name a:hover {
    /* background-color: lightred; */
    color: lightred;
    text-decoration: none;
}

.main-nav ul {
    list-style-type: none;
    margin-right: 10%;
    padding: 0px;
    width: 200px;
    text-align: center;
}

.main-nav li {
    display: inline;
    text-align: center;
}

.main-nav li a {
    display: inline;
    color: #000;
    text-decoration: none;
    padding: 4px;
    margin: 1px;
}

.main-nav li a:hover {
    background-color: #555;
    color: white;
}

.main-nav {
    float: right;
    display: inline-block;
    list-style-type: none;
    width: auto;
    margin-top: 35px;
    margin-right: 335px;
    padding: 0;
}

.top-nav {
    border-right: solid gray;
    display: inline-block;
    padding: 0;
}


/* end of top nav */

body {
    height: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
}


/* start of main body */

.main-body {
    width: 960px;
    background-color: lightgrey;
    padding: 10px;
    box-shadow: 10px 10px 25px grey;
    margin: 0 auto;
    overflow: hidden;
}


/* .clearfix {
    overflow: auto;
} */

.my-image {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 1px;
}

.about-me {
    padding: 20px;
    border-bottom: solid .5px grey;
    margin-bottom: 30px;
    margin-left: 10px;
    color: darkred;
}

.main-paragraph {
    float: right;
    width: 650px;
    margin-right: 10px;
    line-height: 3em;
    overflow: auto;
    padding: 10px;
}

.second-paragraph {
    float: left;
    width: 940px;
    margin-left: 25px;
    line-height: 3em;
    word-spacing: 1px;
    overflow: auto;
}

.third-paragraph {
    float: left;
    width: 940px;
    margin-left: 25px;
    line-height: 3em;
    word-spacing: 1px;
}


/* end of main body  */


/* start of footer  */

footer,
.push {
    width: 100%;
    height: 50px;
    border-top: solid darkred 6px;
    margin-top: 30px;
    display: inline-block;
}

.social {
    display: inline-block;
    list-style-type: none;
    width: auto;
    height: 200px;
    margin-right: 40%;
    margin-top: 30px;
    padding: 0;
    float: right;
}

.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social li {
    float: left;
    margin-left: 10px;
}

.social li a {
    text-decoration: none;
    display: block;
    margin: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #597ab6;
    color: white;
}


/* end of footer *