h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    width: 100%;
    display: inline-block;
    /* padding-left:; */
    border-bottom: solid black;
}

#name {
    display: block;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: darkred;
    padding: 20px;
    color: white;
}

.main-nav ul {
    list-style-type: none;
    margin-right: 10%;
    padding: 0px;
    width: 200px;
    text-align: center;
}

.top-list:li {
    display: inline;
    text-align: center;
}

.top-listli a {
    display: inline;
    color: #000;
    text-decoration: none;
    padding: 4px;
    margin: 1px;
}

li a:hover {
    background-color: #555;
    color: white;
}

.main-nav {
    float: right;
    display: inline-block;
    list-style-type: none;
    margin-top: 35px;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

.main-body {
    width: 960px;
    background-color: lightgrey;
    padding: 10px;
    box-shadow: 10px 10px 25px grey;
    margin: 0 auto;
    overflow: hidden;
}


/* .clearfix {
    overflow: auto;
} */

.my-image {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 1px;
}

.about-me {
    padding: 20px;
    border-bottom: solid .5px grey;
    margin-bottom: 30px;
    margin-left: 10px;
    color: darkred;
}

.main-paragraph {
    float: right;
    width: 650px;
    margin-right: 10px;
    word-spacing: 1px;
    overflow: auto;
    padding: 10px;
}

.second-paragraph {
    float: left;
    width: 960px;
    word-spacing: 1px;
    overflow: auto;
}

.third-paragraph {
    float: left;
    width: 960px;
    word-spacing: 1px;
}

footer {
    width: 100%;
    border-top: solid black;
    margin-top: 30px;
    display: inline-block;
}

.social ul {
    display: inline;
    width: 40px;
}